<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>642163446601-pi6ukal400c6aocmvaanhkn9qo3ntkk8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642163446601-pi6ukal400c6aocmvaanhkn9qo3ntkk8</string>
	<key>API_KEY</key>
	<string>AIzaSyALWRUDbGgMu7i6SFwSKKdkSFrsHvgAAWE</string>
	<key>GCM_SENDER_ID</key>
	<string>642163446601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brocode.TilesByKia</string>
	<key>PROJECT_ID</key>
	<string>tilesbykia-a78e0</string>
	<key>STORAGE_BUCKET</key>
	<string>tilesbykia-a78e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:642163446601:ios:4f8fdcde99af64c1678098</string>
	<key>DATABASE_URL</key>
	<string>https://tilesbykia-a78e0.firebaseio.com</string>
</dict>
</plist>
